footer{
    .alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: .75rem 1rem;
    margin-top: 2rem;
    margin: 2.25rem 23.125rem 0rem 23.0625rem;

    background: var(--color-danger);
    border-radius: .75rem;

    .alert-content {
        display: flex;
        align-items: center;
        gap: .5rem;
        background: var(--color-danger);

        img{
            background: var(--color-danger);
        }

        span {
            font: var(--text-paragraph);
            color: var(--background-secondary);
            background: var(--color-danger);
        }
    }

    .alert-close {
        display: flex;
        align-items: center;
        justify-content: center;
        
        border: none;
        background: transparent;
        cursor: pointer;

        img {
            background: var(--color-danger);
            width: 1rem;
            height: 1rem;
        }

        &:hover {
            opacity: .8;
        }
    }
}
}






















