* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
    
    /* Fonte */
    
    --font-inter: "Inter", sans-serif;
    --font-sora: "Sora", sans-serif;

    /* Tipografia */

    --text-title: 700 24px/2rem var(--font-inter);
    --text-label: 600 16px/1.25rem var(--font-inter);
    --texte-paragraph: 500 16px/1.25rem var(--font-inter);
    --texte-link: 500 14px/1rem var(--font-inter);

    --text-logo: 700 26/2.5rem var(--font-sora);
}