header { 
    >div {
        max-width: 40rem;
        margin: 0 auto;
        margin-top: 1.5625rem;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:.5rem;
         font: var(--text-logo);

         @media(width <640px){
            display: none;
         }
    }

    a{
        display: flex;
        align-items: center;
        font: var( --text-link);
        color: var( --color-brand);
        margin: 4rem 0 1rem 0;

         @media(width <640px){
          margin-top: 2.125rem;
         }
    }
}

